<h1>Cart View</h1>
<p>{{cart.products}}</p>
{{#if cart.products}}
    <div class="products-container">
        <div class="products-header">
            <p>Product</p>
            <p>Description</p>
            <p>Code</p>
            <p>Price</p>
            <p>Quantity</p>
            <p>Remove from cart</p>
        </div>
        <div class="products">
            {{#each cart.products}}
                <div class="product-item">
                    <p>{{this.product.title}}</p>
                    <p>{{this.product.description}}</p>
                    <p>{{this.product.code}}</p>
                    <p>$ {{toFixed this.product.price 2}}</p>
                    <p>{{this.quantity}}</p>
                    <button class="remove-from-cart" data-id="{{this.id}}">Remove from cart</button>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="total">

    </div>
{{else}}
    <div class="product-alert-container"><h2 class="product-alert">Cart is empty.</h2></div>
{{/if}}

<a class="btn btn-primary" href="/">To Products</a>
<br>
<a class="btn btn-primary" href="/realTimeProducts">To Real Time</a>
<br>
<a class="btn btn-primary" href="/chat">To Chat</a>