{{#if user}}

    <h2 class="welcome-message">Welcome, {{user.first_name}}</h2>
    <form action="/api/sessions/logout" method="POST">
        <input type="submit" value="Logout" class="btn btn-alert">
    </form>

{{else}}

    <a class="btn btn-submit" href="/api/sessions/login">Login</a>


{{/if}}

{{#if products.payload}}
    <div class="products-list-container">

        <div class="products-list">
            {{#each products.payload}}
                <div class="product-item-card">
                    <div class="product-field">
                        <h2 class="product-title">{{this.title}}</h2>
                    </div>
                    <div class="product-field">
                        <p class="field-name">Brand: </p>
                        <p class="field-description">{{this.brand}}</p>
                    </div>
                    <div class="product-field">
                        <p class="field-name">Country: </p>
                        <p class="field-description">{{this.country}}</p>
                    </div>
                    <div class="product-field">
                        <p class="field-name">Category: </p>
                        <p class="field-description">{{this.category}}</p>
                    </div>
                    <div class="product-field">
                        <p class="field-name">Style: </p>
                        <p class="field-description">{{this.style}}</p>
                    </div>
                    <div class="product-field">
                        <p class="field-name">Alcohol: </p>
                        <p class="field-description">{{this.alcohol}}%</p>
                    </div>
                    <div class="product-field">
                        <p class="field-name">Volume: </p>
                        <p class="field-description">{{this.volume}} ml</p>
                    </div>
                    <div class="product-field">
                        <p class="field-name">Price: </p>
                        <p class="field-description">$ {{toFixed this.price 2}}</p>
                    </div>
                    <div class="product-field">
                        <p class="field-name">Stock: </p>
                        <p class="field-description">{{this.stock}}</p>
                    </div>

                    {{#if thumbnail}}
                        <img src="{{thumbnail}}" class="product-img" alt="image of {{this.title}}">
                    {{else}}
                        <img src="https://cdn-icons-png.flaticon.com/512/3875/3875148.png" class="product-img"
                             alt="missing image of {{this.title}}">
                    {{/if}}
                    <div >
                        <input type="hidden" name="stock" value="{{this.stock}}">
                        <input type="number" value="1" min="1" max="{{this.stock}}" class="quantity"
                               data-id="{{this.id}}">
                        <button class="add-to-cart" data-id="{{this.id}}">Add to cart</button>
                    </div>

                </div>
            {{/each}}
        </div>
    </div>
    <div class="pagination">

        {{#if products.hasPrevPage}}
            <a href="{{products.prevLink}}">Previous</a>
        {{/if}}



        <span>Page {{products.page}} of {{products.totalPages}}</span>
        {{#if products.hasNextPage}}
            <a href="{{products.nextLink}}">Next</a>
        {{/if}}
    </div>
{{else}}
    <div class="product-alert-container"><h2 class="product-alert">Products not found.</h2></div>
{{/if}}

<script src="/js/addToCart.js"></script>